@model List<BasketItemDto>

<div class="col-lg-8 table-responsive mb-5">
    <table class="table table-light table-borderless table-hover text-center mb-0">
        <thead class="thead-dark">
            <tr>
                <th>Ürün</th>
                <th>Fiyat</th>
                <th>Miktar</th>
                <th>Tutar</th>
                <th>Kaldır</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left align-middle">
                            <div class="d-flex align-items-center" style="min-width: 200px;">
                                <img src="@item.ProductImageUrl" alt="" style="width: 50px; margin-right: 15px;">
                                
                                <div>
                                    <h6 class="mb-0" style="font-size: 1rem;">@item.ProductName</h6>
                                    
                                    @if (item.SelectedAttributes != null && item.SelectedAttributes.Any())
                                    {
                                        <div class="mt-1">
                                            @foreach (var attr in item.SelectedAttributes)
                                            {
                                                <span class="badge badge-light border text-secondary font-weight-normal mr-1">
                                                    @attr.Key: @attr.Value
                                                </span>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">@item.Price ₺</td>
                        
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="@item.Quantity">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        
                        <td class="align-middle">@(item.Price * item.Quantity) ₺</td>
                        
                        <td class="align-middle">
                            <a href="/ShoppingCart/RemoveBasketItem/@item.ProductId" class="btn btn-sm btn-danger">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                         <div class="alert alert-warning m-3">Sepetinizde ürün bulunmamaktadır.</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>